/* src/app/blog/page.module.css */
.mainContainer {
  padding: 4rem;
  background-color: #000;
}

.headerSection {
  text-align: center;
  margin-bottom: 4rem;
}

.title {
  font-size: 2rem;
  color: #fff;
  padding: 2rem;
}

.subtitle {
  font-size: 1.25rem;
  color: #ccc;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
}

.serviceCard {
  background-color: #262626;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.serviceCard:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.1);
}

.imageContainer {
  position: relative;
  height: 200px;
}

.cardContent {
  padding: 1rem;
  background-color: #262626;
}

.cardTitle {
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

.cardDescription {
  font-size: 0.9rem;
  color: #ccc;
  text-align: center;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .mainContainer {
    padding: 2rem;
  }

  .imageContainer {
    height: 150px;
  }
}

@media (max-width: 480px) {
  .servicesGrid {
    grid-template-columns: 1fr;
  }

  .imageContainer {
    height: 120px;
  }
}